/*盤面*/
.board {
    -fx-background-color: lime;
}

/*盤面*/
#board {
    -fx-grid-lines-visible: true;
}

/*AIが思考している際の盤面*/
.board-for-ai {
    -fx-opacity: 50%;
}

/*先手 (黒) の石*/
.play-first-tern {
    -fx-fill: black;
}

/*後手 (白) の石*/
.draw-first-tern {
    -fx-fill: white;
}

/*着手*/
.move {
    -fx-fill: red;
}

/*ユーザ向け着手*/
.move-for-user {
    -fx-cursor: hand;
}
